numpy==1.26.4
scipy==1.14.1
pandas==2.2.2
matplotlib==3.7.1

geopandas==0.14.3
shapely==2.0.1
fiona==1.9.6
pyogrio==0.8.0
pyproj==3.6.1

scikit-learn==1.5.1
numba==0.60.0
networkx==3.4

synpp==1.6.1
osmium==4.2.0           
bhepop2==1.0.0        
palettable==3.3.3     

tables==3.10.1
pyarrow==17.0.0
polars==0.20.31      
tqdm==4.67.3
xlrd==2.0.2
openpyxl==3.1.5
xlwt==1.3.0
py7zr==0.20.8         
python-calamine==0.6.1

pytest==7.2.2
mock==5.2.0 

pdfplumber==12.1.1

