matplotlib==3.10.8
pandas==2.3.3
scipy==1.17.0
numpy==2.3.5
geopandas==1.1.2
numba==0.63.1
palettable==3.3.3
scikit-learn==1.8.0
shapely==2.1.2
tqdm==4.67.3
tables==3.10.2
xlrd==2.0.2
openpyxl==3.1.5
python-calamine==0.6.1
pytest==9.0.2
xlwt==1.3.0
mock==5.2.0
pyarrow==23.0.1
polars==1.38.1
synpp==1.6.1
bhepop2==2.0.1
osmium==4.2.0
py7zr==1.1.2


# synpp==1.6.1
# osmium==4.0.2
# matplotlib==3.7.1
# pandas==2.2.2
# scipy==1.14.1
# numpy==1.26.4
# networkx==3.4
# geopandas==0.14.3
# pyogrio==0.8.0
# numba==0.60.0
# palettable==3.3.0
# scikit-learn==1.5.1
# shapely==2.0.1
# tqdm==4.65.0
# tables==3.9.0
# xlrd==2.0.1
# openpyxl==3.1.0
# py7zr==0.20.8
# pytest==7.2.2
# xlwt==1.3.0
# bhepop2==1.0.0       
# python-calamine==0.6.1
# mock==5.2.0
# pyarrow==17.0.0
# polars==0.20.31 
# fiona==1.9.6  

